body{
    background-color: #c2c2c2;
    text-align: center;
}
a {   
    color: #a679b9;   
}
.fbox1 {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

a:active {
    color: #a679b9;
}

a:hover {
    color: #a679b9;
}
.title{
    color: #733c8a;
}

.subtitle{
    color: #856095;
}

.subtitle1{
    color: #8c8c8c;
}

.title1{
    color: #856095;
}

.tooltip {
    position: absolute;
    width: 100px;
    /* height: 70px; */
    padding: 10px;
    font: 12px sans-serif;
    text-align: center;
    color: white;
    background: #9e9ea2d7;
    
    border: 0;
    border-radius: 1px;
  }

#titlecard{
    background-color: #282829;
}