nav {
    background-color: #baaacb;
}

.btn {
    background-color: #baaacb;
    border-color: #fff;
}

.btn:hover {
    background-color: #baaacb;
    border-color: #baaacb;
}

.btn:active {
    background-color: #baaacb;
    border-color: #fff;
}
.btn:visited {
    background-color: #baaacb;
    border-color: #fff;
}

.mail {

    color: #baaacb;
}
.mail:visited {
    color: #baaacb;
}
.mail:hover {
    color: #baaacb;
}
.mail:active {
    color: #baaacb;
}

canvas {
    height:600px;
}